.navbar {
	display:inline-block;
	float:none;
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    text-align:center
}

.nav navbar-nav navbar-right{
	text-align:center
}

.navbar li a, .navbar .navbar-brand {
	display: flex;
  	align-items: center
	}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*Animation of Navbar */
.slideanim{visibility:hidden;}
.slide{
  animation-name: slide;
  -webkit-animation-name:slide;
  animation-duration: 1s;
  -webkit-animation-duration:1s;
  visibility:visible;
}

@keyframes slide {
  0%{
    opacity: 0;
    transform:translateY(70%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide{
  0%{
    opacity: 0;
    -webkit-transform:translateY(70%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
