.navbar {
	display:inline-block;
	float:none;
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    text-align:center
}

.nav navbar-nav navbar-right{
	text-align:center
}

.navbar li a, .navbar .navbar-brand {
	display: flex;
  	align-items: center
	}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
