header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.navbar {
	display:inline-block;
	float:none;
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    text-align:center
}

.nav navbar-nav navbar-right{
	text-align:center
}

.navbar li a, .navbar .navbar-brand {
	display: flex;
  	align-items: center
	}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.external {
    padding-right: 18px;
}

a {
    color: #669900;
    text-decoration: none;
    overflow: hidden;
}
